<section class="p-3">
  <div class="search-bar rounded border p-3 p-lg-4 position-relative mt-n4 z-index-20">

    <div class="container d-flex">
      <div class="col-2">
        <img src="assets/end.webp" width=150px height="80px">
      </div>
      <div class="col-10">
        <div class="row mb-2">
          <div class="col-lg-4 d-flex align-items-center form-group">
            <p>ss</p>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-center form-group">
            <div class="input-label-absolute input-label-absolute-right w-100">
              <p>ss</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-center form-group no-divider">
            <p>ss</p>
          </div>
          <div class="col-lg-2 d-grid">
            <button class="btn btn-primary h-100" type="submit">Search</button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-4 d-flex align-items-center form-group">
            <p>ss</p>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-center form-group">
            <div class="input-label-absolute input-label-absolute-right w-100">
              <p>ss</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-center form-group no-divider">
            <p>ss</p>
          </div>
          <div class="col-lg-2 d-grid">
            <button class="btn btn-outline-primary h-100" type="submit">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

