.info-banner {
  background: #000 url('https://ingame.gg/themes/ingame-esports/assets/images/bg-inner.jpg') no-repeat scroll top center;
  background-size: cover;
  height: 300px;
}
.bg{
  background-color: #00264d;
}
