
  <div class="info-banner">
    <div class="row ">
      <div class="col-12 ">
        <div class=" ">
          <div class="p-5 pb-4 float-left">
            <div>
              <img src="https://ingame.gg/storage/app/uploads/public/63a/05f/bc7/63a05fbc795b6911388013" alt="Udara" class="rounded-circle">
            </div>
          </div>
          <div class="px-5 float-left ">
            <h1 class="text-light">Udara Sanjeewa</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg pt-2 pb-2">
    <div class="container">
      <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link"  routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
        <a class="nav-link"  routerLink="registration">Registrations</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="account">Edit</a>
        </li>

      </ul>
    </div>

  </div>
  <router-outlet></router-outlet>



