
<header class="p-2  border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img class="bi me-2" width="40" height="32" role="img" src="assets/undraw_rocket.svg">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 link-light">HOME</a></li>
        <li><a routerLink="/events" class="nav-link px-2 link-light">EVENTS</a></li>
        <li><a routerLink="/organization-and-clans" class="nav-link px-2 link-light">ORGANIZATION & CLANS</a></li>
        <li><a routerLink="/auth/sign-in" class="nav-link px-2 link-light">CHALLENGES</a></li>
      </ul>

      <div class="logo-bg-wrap">
        <div class="logo-bg">
          <img src="assets/logoi.jpeg"  class="logo" alt="Ingame eSport">
        </div>
      </div>
      <div class="text-end">
        <a routerLink="/profile" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/istockphoto-1300845620-612x612.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
      </div>
    </div>
  </div>
</header>
