<div>
  <section class="pt-7 pb-5 d-flex align-items-end dark-overlay bg-cover" style="background-image: url('https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/photo/restaurant-1515164783716-8e6920f3e77c.jpg');">
    <div class="container ">
      <div class="d-flex justify-content-between align-items-start flex-column flex-lg-row align-items-lg-end">
        <div class="text-white mb-4 mb-lg-0">
          <span class="badge text-bg-light">{{location}}</span>
          <h1 class="text-shadow verified">{{eventName}} &amp; Bar</h1>
          <p><i class="fa-map-marker-alt fas me-2"></i> 53 Broadway, Brooklyn, NY 1129</p>
          <p class="mb-0 d-flex align-items-center"><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-gray-200 me-4">                   </i>8 Reviews</p>
        </div>
        <div class="calltoactions"><a class="btn btn-primary" href="#leaveReview" onclick="$('#leaveReview').collapse('show')" data-smooth-scroll="">Leave a Review</a></div>
      </div>
    </div>
  </section>
    <div class="container pt-5">
      <div class="row">
        <div class="col-8">
          <!-- About Listing-->
          <div *ngIf="showFirstDiv" class="text-block">
            <h3 class="mb-3">About</h3>
            <p class="text-muted">  {{description}}</p>
            <p class="text-muted">  {{description}}</p>
            <p class="text-muted">  {{description}}</p>
            <p class="text-muted">  {{description}}</p>
             </div>
          <div *ngIf="!showFirstDiv" class="text-block">
            <div class="row">
              <h1>Registration</h1>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="birthdayInput" class="form-label">Date of Birth</label>
                  <input type="date" class="form-control" id="birthdayInput" name="birthdayInput" [formControl]="eveRegDob">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="teamSelect" class="form-label">TeamDTO</label>
                  <select class="form-select" id="teamSelect" name="teamSelect" [(ngModel)]="teamId" >
                    <option value="">Select a team</option>
                    <option *ngFor="let team of teamDataSource" [value]="team.teamId">{{team.teamName}}</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="mb-3">
              <label for="telephoneInput" class="form-label">Telephone Number</label>
              <input type="tel" class="form-control" id="telephoneInput" name="telephoneInput" [formControl]="eveRegNumber">
            </div>
            <button class="btn btn-primary" (click)="eventReg()" > Register To Event</button>
          </div>


        </div>
        <div class="col-4">
          <div class="ps-xl-4">
            <!-- Opening Hours      -->
            <div class="card border-0 shadow mb-5">
              <div class="card-header bg-gray-100 py-4 border-0">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <p class="subtitle text-sm text-primary">Opening in 5 minutes</p>
                    <h4 class="mb-0">Opening Hours </h4>
                  </div>

                </div>
              </div>
              <div class="card-body">
                <table class="table text-sm mb-0">
                  <tbody>
                  <tr>
                    <th class="ps-0">Event Name</th>
                    <td class="pe-0 text-end">{{eventName}}</td>
                  </tr>
                  <tr>
                    <th class="ps-0 border-0">Location</th>
                    <td class="pe-0 text-end border-0">{{location}}</td>
                  </tr>
                  <tr>
                    <th class="ps-0">Start Time</th>
                    <td class="pe-0 text-end">{{startTime}}</td>
                  </tr>
                  <tr>
                    <th class="ps-0">End Time</th>
                    <td class="pe-0 text-end">{{endTime}}</td>
                  </tr>
                  <tr>
                    <th class="ps-0">Organizer</th>
                    <td class="pe-0 text-end">{{organizer}}</td>
                  </tr>
                  <tr>
                    <th class="ps-0">Country</th>
                    <td class="pe-0 text-end">{{country}}</td>
                  </tr>
                  <tr>
                    <th class="ps-0">Description</th>
                    <td class="pe-0 text-end">
                      <button class="btn btn-primary" (click)="toggleDiv()" > Register To Event</button>
                    </td>
                  </tr>
                  </tbody></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

